<hr>
	<h1>Code of Ethics of the Filipino Computing and Information Technology</h1>

	<p>For the purpose of this code, the following terms are defined as follows:</p>
	<br>

	<h3>Information Technology</h3>
	<br>
	<p>
		The preparation, collection, transport, retrieval, storage, access, presentation and transformation of electronic information in all forms incluf=ding, but not limited to voice, graphics, text, video, data and image.
	</p>
	<br>
	<h3>Information Technology Professional</h3>
	<p>
		One who develops or provides information technologu products and/or dervices to the public
	</p>