<h1>Software Engineering Code of Ethics and Professional Practice</h1>
<br>
<h2>IEE-CS/ACM Joint Task Force on Software Engineering Ethics and Professional Practices</h2>

<hr>

<h3>Keywords:</h3>

<h3>Preamble</h3>
<p>
	The short version of the code summarize aspiration at a hig level of abstraction. The clause that are include in the full version give examples and details of how these aspirations change the way we act as software engineering professional. Without the aspiration, the details can become legalistic and tediious; wihout the details, the aspiration can become high-sounding but empty; together, the aspiration and the details form a cohesive code.
</p>